.App {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.add-friend form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px auto;
}

.friend-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 5px;
}

.update-friend form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.update-friend form input {
  margin-right: 15px;
  margin-bottom: 5px;
  background-color: rgb(216, 216, 216);
  border: none;
  padding: 5px;
}